backend/.idea
backend/target
backend/.mvn
backend/.gitingnore
backend/runningclub.iml

backend/src/main/resources/keystore.p12
.idea/
logs/
runningcoinCS/.idea
runningcoinCS/target
runningcoinCS/.mvn
runningcoinCS/.gitingnore
runningcoinCS/runningclub.iml
runningcoinCS/.idea/
runningcoinCS/*.iml
runningcoinCS/*.iws
runningcoinCS/*.ipr
runningcoinCS/*.ids
runningcoinCS/*.orig
runningcoinCS/classes/
runningcoinCS/node/
runningcoinCS/node_tmp/
runningcoinCS/node_modules/
runningcoinCS/npm-debug.log.*
runningcoinCS/.awcache/*
runningcoinCS/.cache-loader/*
runningcoinCS/.git
